#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.3.0
Encoding=UTF-8
Type=Application
Exec=/home/$USER/.local/bin/lazmqttc/lazmqttc
Icon=/home/$USER/.local/bin/lazmqttc/lazmqttc.png
Name=MQTT Client
Name[fr_CA]=Client MQTT
Categories=Network;
Terminal=false
Comment=Subscribe to and publish MQTT messages
Comment[fr_CA]=Souscrire et publier des messages MQTT

